::placeholder{
    font-size: 24px;
    color:#999999;
    font-weight: 300;
}

.LoginForm{
    display:flex;
    flex-direction: column;
    padding:20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin:30px;
    max-width: 95%;

}
.LoginForm .FormBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin-bottom:20px;
    flex-direction:column;

}
.LoginForm .FormBox h1{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color:#E2C200;
    margin-top: 7px;
    margin-bottom:7px;
}
.LoginForm .LoginFormInput{
    margin-bottom: 10px;
    font-size: 26px;
    outline:1px solid #99999955;
    border:none;
    padding:10px;
    border-radius: 3px;

}
.LoginForm .LoginButton{
    font-size: 32px;
    padding:5px;
    color:white;
    background-color: #0186FF;
    outline:none;
    border:none;
    cursor: pointer;
    transition: .2s;
}
.LoginForm .LoginButton:hover{
    background-color: #0076DF;
}
.LoginForm .dontHaveAnAccount{
    text-align: center;
    font-size: 22px;
    margin-top:8px;
}
.LoginForm .RegisterButtonLink{
    text-align: center;
    color:#0186FF;
}
@media screen and (min-width: 600px){
    .LoginForm{
        max-width: 30%;
    }
}
