.Header{
    display:flex;
    background-color: #0186FF;
    width: 100vw;
    padding:10px;
    align-items: center;
    justify-content: space-between;
}
.Header .MenuIcon{
    font-size: 48px;
    cursor: pointer;
    color:white;
}
.Header .Logo{
    color:white;
    cursor: pointer;
}
.Header .Logo::selection{
    color:none;
    background: none;

}
.Header .HeaderRegisterAndLoginContainer{
    display: flex;
    align-items: center;
    justify-content:center;
}
.Header .HeaderRegisterAndLoginContainer .AccountCircle{
    color:white;
    font-size: 48px;
    margin-right:5px;
    cursor:default;
}
.Header .HeaderRegisterAndLoginContainer .headerText{
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}
.Header .HeaderRegisterAndLoginContainer .headerText::selection{
    color:none;
    background: none;
}
.Header .HeaderRegisterAndLoginContainer button{
    border:none;
    outline:3px solid #0186FF;
    width: 77px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:#0060B1AA;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    transition:.1s;
}
.Header .HeaderRegisterAndLoginContainer button::selection{
    color:none;
    background: none;
}
.Header .HeaderRegisterAndLoginContainer button:hover{
    background-color: #0186FF;
    outline:3px solid  #0060B1AA;

}

.Header .HeaderMisc .ShoppingKart{
    font-size: 40px;
    color:white;
    cursor:pointer;
    font-weight: 800;
}
