.SellListings{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    box-shadow: 1px 1px 9px  #eeeeee;
    width: 650px;
}
.SellListings .SellListingsTable {
    display:flex;
    flex-direction: column;
}
.SellListings .SellListingsTable .SellListingsHeader{
    display:grid;
    grid-template-columns: auto 20% 20%;
    margin-bottom: 30px;
}
.SellListings .SellListingsTable .SellListingsHeader .SellListingsItemAmountColumn, .SellListingsItemPriceColumn{
    display: flex;
    align-items: center;
    justify-content: center;
}


