::placeholder{
    font-size: 24px;
    color:#999999;
    font-weight: 300;
}
.RegisterForm{
    display:flex;
    flex-direction: column;
    padding:20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin:30px;
    max-width: 95%;

}
.RegisterForm .FormBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin-bottom:20px;
    flex-direction:column;

}
.RegisterForm .FormBox h1{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color:#E2C200;
}

.RegisterForm .RegisterFormInput{
    margin-bottom: 7px;
    font-size: 26px;
    outline:1px solid #99999955;
    border:none;
    padding:10px;
    border-radius: 3px;

}
.RegisterForm .RegisterFormInput[type=password]{
    margin-bottom:0px;
}
.RegisterForm .passwordLengthError{
    font-size: 12px;
    margin-bottom:7px;
}
.RegisterForm .RegisterButton{
    font-size: 32px;
    padding:5px;
    color:white;
    background-color: #0186FF;
    outline:none;
    border:none;
    cursor: pointer;
    transition: .2s;
}
.RegisterForm .RegisterButton:hover{
    background-color: #0076DF;
}
.RegisterForm .alreadyHaveAnAccount{
    text-align: center;
    font-size: 22px;
    margin-top:8px;
}
.RegisterForm .LoginButtonLink{
    text-align: center;
    color:#0186FF;
}




@media screen and (min-width: 600px){
    .RegisterForm{
        max-width: 30%;
    }
}