*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:system-ui;
}

:root{
  --ContainerBackgroundColor:#F4F4F4;
}
.App{
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  overflow: hidden;
  position:relative;
}
.App .material-symbols-rounded::selection{
  color:none;
  background: none;
}