.SellListingCard{
    padding:10px;
    /* background-color:aqua; */
    display: grid;
    grid-template-columns:auto auto 20% 20%;
    margin-bottom: 10px;
    border:1px solid #80808033;
    cursor: pointer;
}
.SellListingCard .SellListingCardItemPic{
    width:50px;
    height: 50px;
    background-color: #d3d3d3;
}
.SellListingCard .SellListingCardItemName{
    align-self: center;
    /* text-align: center; */
}
.SellListingCard .SellListingCardItemAmount, .SellListingCardItemPrice {
    text-align: center;
    align-self: center;
}
.SellListingCard .SellListingCardItemPrice{
    text-align: center;
}