.SellListingCard{
    /* padding-top:10px; */
    /* padding-bottom:10px; */
    /* background-color:aqua; */
    /* display: grid; */
    /* grid-template-columns:auto 20% 20%; */
    margin-bottom: 10px;
    
    outline:1px solid #80808011;
    cursor: pointer;
    transition: .12s;
    width: 100%;
    
}
.SellListingCard:hover {
    box-shadow: 1px 1px 1px 2px #00000010;
}
.SellListingCard .SellListingsItemNameColumn{
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
}
.SellListingCard .SellListingsItemNameColumn .SellListingCardItemPic{
    width:50px;
    height: 50px;
    /* background-color: #d3d3d3; */
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.SellListingCard .SellListingsItemNameColumn .SellListingCardItemPic img {
    width: 100%;

}
.SellListingCard .SellListingsItemNameColumn .SellListingCardItemNameText{
    display: flex;
    align-items: center;
    margin-left: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
.SellListingCard .SellListingsItemColumn, .SellListingsItemColumn{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}.SellListingCard .SellListingsActionColumn {
    text-align: center;
    max-width: 50px;
}
.SellListingCard .actionButton {
    min-width: 50px ;
    border:none;
    outline:none;
    font-weight: 500;
    font-size: 16px;
    padding:4px;
    /* padding-left:8px; */
    /* padding-right: 8px; */
    cursor:pointer;
    background-color: #4ADE80;
    color:white;
    border-radius: 4px;
    transition:.2s;
}
.SellListingCard .actionButton:hover {
    background-color: #22C55E;
}